<!-- <div class="d-flex justify-content-center">
  <h2 class="titulo">
    <b></b>
  </h2>
</div> -->
<div class="d-flex justify-content-center" *ngIf="!documento">
  <h2 class="titulo text-middle">
    <b>No existen documentos</b>
  </h2>
</div>

<iframe
  class="documentoVisor"
  id="documentoSIG"
  src=""
  title="File"
  frameborder="0"
  scrolling="auto"
  style="display: block;"
></iframe>

<div class="row d-flex justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="panel-documento">
      <div class="">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
        </button>
        <button type="button" [routerLink]="['/mapa-proceso']" class="btn btn-danger">
          <fa-icon icon="home"></fa-icon>&nbsp;<span>Mapa</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row d-flex justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="panel-documento">
      <div *ngFor="let doc of documentos; trackBy: trackId" data-cy="entityTable">
        <div class="d-flex justify-content-center">
          <button [routerLink]="['/mapa-documento']" class="btnproceso estilo-documento">
            <a *ngIf="doc.archivo" (click)="openFile(doc.archivo, doc.archivoContentType)"
              >{{ doc.version }}: {{ doc.observaciones }}</a
            >
          </button>
        </div>
      </div>
      <div class="mt-3 mb-3">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
        </button>
        <button type="button" [routerLink]="['/mapa-proceso']" class="btn btn-danger">
          <fa-icon icon="home"></fa-icon>&nbsp;<span>Mapa</span>
        </button>
      </div>
    </div>
  </div>
</div>
 -->
