<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="proceso">
      <h2 data-cy="procesoDetailsHeading"><span>Proceso</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ proceso.id }}</span>
        </dd>
        <dt><span>Tipoproceso</span></dt>
        <dd>
          <span>{{ proceso.tipoproceso }}</span>
        </dd>
        <dt><span>Codigo</span></dt>
        <dd>
          <span>{{ proceso.codigo }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ proceso.descripcion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/proceso', proceso.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
