<div class="col-12 d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-proceso-heading" data-cy="ProcesoCreateUpdateHeading" *ngIf="editForm.controls.id.value == null">Crear Proceso</h2>
      <h2 id="jhi-proceso-heading" data-cy="ProcesoCreateUpdateHeading" *ngIf="editForm.controls.id.value !== null">Editar Proceso</h2>

      <div class="row">
        <jhi-alert-error></jhi-alert-error>

        <!-- <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="col-12 col-md-3 col-sm-6 mb-3">
          <label class="form-label" for="field_tipoproceso">Tipo de proceso</label>
          <select class="form-control" name="tipoproceso" formControlName="tipoproceso" id="field_tipoproceso" data-cy="tipoproceso">
            <option [ngValue]="null"></option>
            <option *ngFor="let tipoProceso of tipoProcesoValues" [value]="tipoProceso">{{tipoProceso}}</option>
          </select>
        </div>

        <div class="col-12 col-md-2 col-sm-6 mb-3">
          <label class="form-label" for="field_codigo">Código</label>
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
        </div>

        <div class="col-12 col-md-7 col-sm-12 mb-3">
          <label class="form-label" for="field_descripcion">Descripción</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 col-sm-12 mb-3">
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary col-12" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
          </button>
        </div>
        
        <div class="col-12 col-md-6 col-sm-12 mb-3">
          <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary col-12"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
        </div>
        
      </div>
    </form>
  </div>
</div>
